*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}
h1,
h2,
h3,
h4,
p,
strong,
span,
.text{
    color: #75646C;
    
}
html,
body,
main,
.row-container,
.row-component,
#content{
    height: 100%;
}
.wrapper{
    min-height: 100%;
}


#fx-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 25%;
    background-color: #ededed;
}

#fx-menu .bx-top-menu{
    background-color: #dad1d4;
    height: 10em;
    color: #F6F6F6;
}
#menu-text{
    color: #977585!important;
}

.bx-button-menu{
    text-align: start;
    display: block;
    margin: 0 auto;
    width: 70%;
    background-color: #F6F6F6;
    color: #977585;
}
.menu-active, button, .btn-panel-active, .bg-table a.btn{
    background-color: #dad1d4!important;
    color: #977585!important;
}

.menu-active:hover{
    color: #F6F6F6;
}
.btn-link{
    background-color: #dad1d4;
    color: #977585;
    font-weight: 600;
}
.btn-link:hover{
    transition: .6s;
    background-color: #ededed;
    color: #977585;
    font-weight: 600;
}
.btn-panel{
    background-color: #F6F6F6;
    color: #977585;
}

.bx-button-menu:hover{
    transition: .5s;
    background-color: #dad1d4;
    color: #977585;
}

#logo-img{
    width: 124px;
    height: 124px;
}
.card{
    background-color: #ededed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.w-90{
    width: 90%;
}
#user-img-admin{
    width: 60px;
    height: 60px;
}
.w-20-e{
    width: 20em;
}
.mt-7-e{
    margin-top: 7em;
}
.full-window{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F6F6F6;
    z-index: 99999999;
}
form input{
    background-color: #F6F6F6;
}
.card-table-item{
    background-color: #977585;
}
.btn-check:focus+.btn{
    box-shadow: 0 0 0 0.25rem rgba(151, 117, 133, 0.25);
}
.btn-check:checked+.btn,
.btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(151, 117, 133, 0.25);
    background-color: #977585;
    color: #F6F6F6;
}
.bg-table{
    background-color: #F6F6F6;
}
.bg-table-body{
    background-color: #E4DBE0;
    color: #977585!important;
}
.bg-table-body p,
.bg-table-body span,
.bg-table-body strong
{
    color: #977585!important;
}
.bg-table-body span{
    color: #977585!important;
}
.bg-table-body ul{
    padding: 0.5em;
}

.bg-table-body ul li{
    font-size: 0.8em;
}
.bg-table-body a{
    text-decoration: none;
}
.bg-table-body:hover,
.bg-table-body:hover p,
.bg-table-body:hover span,
.bg-table-body:hover strong{
    overflow: auto;
    cursor: pointer;
    background-color: #F6F6F6;
    color: #977585!important;
}

.schedules .card{
    border: solid 1px #F6F6F6!important;
    border-radius: 0%;
    box-shadow: none;
}
.flex-8{
    width: 14.3%;
    height: 15em;
}

table thead, table tbody{
    color: #75646c;
}
table tbody tr td, table tbody tr th{
    color: #75646c!important;
}
#weks .bg-table{
    height: max-content;
}
#top-menu{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
    background-color: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: -1em;
    z-index: 99999;
    width: 100%;
    height: 8em;
}
#top-menu #top-menu-right .card{
    box-shadow: none;
}
#top-menu-left{
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}
#top-menu-right{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1em;
}
.toast{
    width: 20%;
    position: fixed;
    right: 2%;
    padding: 0.3em;
}
#Toast{
    display: block;
}
#calendar{
    background-color: #ff000000;
    border: none;
    box-shadow: none;
}
.table{
    border: none;
}